.navbar {
  padding: 1rem;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__links {
  display: none;
}

.navbar__links.show {
  position: fixed;
  top: 14vh;
  left: 0;
  background-color: #2d2640;
  height: 100vh;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.navbar__items {
  display: block;
  text-decoration: none;
  margin: 1rem;
  font-family: "Karla", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.navbar__items--btn {
  border: 2px solid #fff;
  color: #fff;
  margin-top: 1rem;
  padding: .7rem;
}

.navbar__items--mobilepattern {
  display: block;
}

.navbar__hamburger {
  display: block;
}

.navbar__logoimage {
  display: block;
  width: 80%;
}

.header {
  width: 100%;
}

.header__heroimg {
  width: 100%;
  height: auto;
  display: block;
}

.header__content {
  background-color: #2d2640;
}

.header__text {
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.header__pattern {
  position: absolute;
}

.header__pattern--leftmobile {
  top: 0;
  left: 0;
}

.header__pattern--leftdesktop {
  display: none;
}

.header__pattern--rightmobile {
  bottom: -40%;
  right: 0;
}

.header__pattern--rightdesktop {
  display: none;
}

.header__heading {
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 1rem 0;
  position: relative;
  z-index: 1;
}

.header__para {
  font-family: "Karla", sans-serif;
  padding: 1rem 0;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 25px;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.section1 {
  text-align: center;
  padding-top: 3rem;
}

.section1__heading {
  position: relative;
  font-size: 2rem;
  padding: 2rem 0;
  color: #2d2640;
}

.section1__heading::before {
  content: '';
  height: 1px;
  width: 50%;
  background-color: #837d87;
  position: absolute;
  top: 0;
  left: 25%;
  display: block;
}

.section1__item {
  width: 100%;
  padding: 2rem;
}

.section1__itemheading {
  margin: 1rem;
  font-size: 1.5rem;
  color: #2d2640;
}

.section1__itempara {
  font-family: "Karla", sans-serif;
  font-size: .8rem;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #837d87;
}

.section2 {
  height: 100vh;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2__item {
  background-color: #2d2640;
  text-align: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 1rem;
}

.section2__itemheading {
  color: #fff;
  font-size: 2rem;
  position: relative;
  z-index: 1;
}

.section2__image {
  position: absolute;
}

.section2__image--mobile {
  top: 0;
  right: 0;
}

.section2__image--desktop {
  display: none;
}

.footer {
  background-color: #fafafa;
  overflow: hidden;
  position: relative;
}

.footer__items {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}

.footer__items--line::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
  height: .5px;
  background-color: #837d87;
  margin: .5rem 0;
}

.footer__logo {
  padding: 1rem;
  position: relative;
  z-index: 1;
  margin: auto 0;
}

.footer__image {
  position: absolute;
}

.footer__image--mobile {
  top: 0;
  left: 0;
}

.footer__image--desktop {
  display: none;
}

.footer__links {
  list-style: none;
  position: relative;
  z-index: 1;
}

.footer__links--social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socialimg {
  display: block;
  margin: 1rem;
}

.footer__link {
  text-decoration: none;
  padding: 1rem;
  color: #2d2640;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.footer__heading {
  padding: 1rem;
  color: #837d87;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}

.section2__button, .header__button {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1rem;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 700;
  margin: 1rem;
  letter-spacing: 2px;
  color: #fff;
}

.section2__button:focus, .header__button:focus {
  outline: none;
}

.header__button {
  position: relative;
  z-index: 1;
  margin: 1rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 426px) {
  .navbar__hamburgerIcon {
    display: none;
  }
  .navbar__links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .navbar__items {
    color: #837d87;
    margin: 0 1rem;
    font-size: .8rem;
  }
  .navbar__items--btn {
    border: 2px solid #2d2640;
    color: #2d2640;
  }
  .navbar__items--mobilepattern {
    display: none;
  }
  .header {
    position: relative;
    height: 100vh;
    margin-top: 13vh;
  }
  .header__heroimg {
    position: absolute;
    top: 10%;
    right: 9%;
    width: 30%;
    z-index: 1;
  }
  .header__content {
    padding: 3rem;
  }
  .header__text {
    text-align: start;
  }
  .header__para {
    width: 50%;
  }
  .header__heading {
    font-size: 3rem;
    width: 40%;
  }
  .header__heading::before {
    content: '';
    height: 1px;
    width: 30%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  .header__pattern {
    position: absolute;
  }
  .header__pattern--leftdesktop {
    display: block;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 10%;
  }
  .header__pattern--leftmobile {
    display: none;
  }
  .header__pattern--rightdesktop {
    display: block;
    top: -10%;
    right: 0;
    z-index: 1;
    width: 25%;
  }
  .header__pattern--rightmobile {
    display: none;
  }
  .section1__items {
    display: flex;
  }
  .section1__heading {
    text-align: start;
    font-size: 3rem;
  }
  .section1__heading::before {
    left: 0;
    width: 10%;
  }
  .section1__heading__itemheading {
    text-align: start;
    font-size: 3rem;
  }
  .section2__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 1.5rem;
  }
  .section2__itemheading {
    text-align: start;
    font-size: 3rem;
    width: 50%;
  }
  .section2__image--mobile {
    display: none;
  }
  .section2__image--desktop {
    display: block;
    top: 0;
    right: 0;
  }
  .footer__items {
    text-align: start;
    display: flex;
    justify-content: space-between;
  }
  .footer__items--line::before {
    top: 40%;
  }
  .footer__image--mobile {
    display: none;
  }
  .footer__image--desktop {
    display: block;
  }
}
