@import 'variables';
@import 'navbar';
@import 'header';
@import 'main';
@import 'footer';
@import 'components';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $heading;
}

.container{
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
}


@media (min-width: 426px){

    .navbar{

        &__hamburgerIcon{
            display: none;
        }

        &__links{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
        }

        &__items{
           color: $dark-grayish-violet;
           margin: 0 1rem;
           font-size: .8rem;

           &--btn{
               border: 2px solid $dark-violet;
               color: $dark-violet;
           }

           &--mobilepattern{
               display: none;
           }
        }
    }

    .header{
        position: relative;
        margin-top: 4rem;

        &__heroimg{
            position: absolute;
            top: 13%;
            right: 9%;
            width: 30%;
            z-index: 1;
        }

        &__content{
           padding: 3rem;
        }

        &__text{
            text-align: start;
        }

        &__para{
            width: 50%;
        }

        &__heading{
            font-size: 3rem;
            width: 40%;

            &::before{
                content : '';
                height: 1px;
                width: 30%;
                background-color: #fff;
                position: absolute;
                top: 0;
                left:0;
                display: block;
            }
        }

        &__pattern{
            position: absolute;
    
            &--leftdesktop{
                display: block;
                top:50%;
                left: 0;
                z-index: 1;
                width: 10%;
            }

            &--leftmobile{
                display: none;
            }
    
            &--rightdesktop{
                display: block;
                top: -10%;
                right: 0;
                z-index: 1;
                width: 25%;
            }

            &--rightmobile{
                display: none;
            }
        }

    }

    .section1{
        margin-top: 4rem;

        &__items{
            display: flex;
        }

        &__heading{
            text-align: start;
            font-size: 3rem;
    
            &::before{
                left: 0;
                width: 10%;
            }
    
            &__itemheading{
                text-align: start;
                font-size: 3rem;
            }
        }
    }

    .section2{
        margin: 6rem 0;

        &__content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            padding: 1.5rem;
        }

        &__itemheading{
            text-align: start;
            font-size: 3rem;
            width: 50%;
        }

        &__image{

            &--mobile{
                display: none;
            }

            &--desktop{
                display: block;
                top:0;
                right: 0;
            }
        }

    }

    .footer{
        &__items{
            text-align: start;
            display: flex;
            justify-content: space-between;

            &--line::before{
                top: 40%;
            }
        }

        &__image{
            &--mobile{
                display: none;
            }

            &--desktop{
                display: block;
            }
        }
    }

}
