*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --heading: 'DM Serif Display', serif;
    
}

body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

nav{
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: var(--grayish-blue);
}

.nav-links .links{
    list-style: none;
    margin: 2rem;
    text-transform: uppercase;
}

button{
    background-color: white;
    border: 2px solid var(--dark-violet);
    color: var(--dark-violet);
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-weight: 700;

}

.nav-btn{
    padding: .5rem 1rem;
}

header{
    height: 100vh;
    width: 100%;
    background-color: var(--dark-violet);
    color: white;
}

.header-content{
    display: flex;
}

.content{
    margin: auto 2rem;
    border: 2px solid white;
}

.content .line{
    width: 7rem;
    height: .1rem;
    background-color: white;
    margin-bottom: 4rem;
}

.content h1{
    font-family: var(--heading);
    font-size: 4rem;
    line-height: 4rem;
}

.content p{
    padding: 2rem 0;
}

.header-btn{
    background-color: var(--dark-violet);
    border: 2px solid #fff;
    color: #fff;
}
